.titulo{
    color: rgba(0, 0, 255, 0.753);
    text-align: center;
}

.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.temas{
    color: rgba(0, 0, 0, 0.753);
    text-align: center;
}
